table {
    width: 90%;
    border: none;
}
td {
    width: 33.33%;
    position: relative;
    border: none;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
    border: none;
}
td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    border: none;
    margin: 3%;
}